name: lint
on:  # yamllint disable-line rule:truthy
  push: null
  pull_request: null
permissions: {}
jobs:
  lint:
    name: lint
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: read
      # To report GitHub Actions status checks
      statuses: write
    steps:
    - name: Checkout code
      uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd  # v5.0.1
      with:
        # super-linter needs the full git history to get the
        # list of files that changed across commits
        fetch-depth: 0
    - name: Super-linter
      uses: super-linter/super-linter/slim@2bdd90ed3262e023ac84bf8fe35dc480721fc1f2
      env:
        # To report GitHub Actions status checks
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        VALIDATE_YAML_PRETTIER: false
  changed-containers:
    name: changed-containers
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    needs: lint
    permissions:
      contents: read
      packages: read
    steps:
    - name: Checkout code
      uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5  # v4.3.1
    - name: changed-files
      id: changed-files
      uses: tj-actions/changed-files@24d32ffd492484c1d75e0c0b894501ddb9d30d62
      with:
        files: |
          containers/*/Dockerfile
        matrix: true
    - name: List all changed files
      run: echo ${{ steps.changed-files.outputs.all_changed_files }}
    outputs:
      matrix: ${{ steps.changed-files.outputs.all_changed_files }}
  build-and-push-image:
    needs: changed-containers
    if: ${{ needs.changed-containers.outputs.matrix != '[]' }}
    strategy:
      matrix:
        dockerfile: ${{ fromJSON(needs.changed-containers.outputs.matrix) }}
    permissions:
      contents: read
      packages: write
      attestations: write
      id-token: write
    uses: ./.github/workflows/publish.yaml
    with:
      dockerfile: ${{ matrix.dockerfile }}
