name: lint
on:  # yamllint disable-line rule:truthy
  push: null
  pull_request: null
permissions: {}
jobs:
  lint:
    name: lint
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: read
      # To report GitHub Actions status checks
      statuses: write
    steps:
    - name: Checkout code
      uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd  # v5.0.1
      with:
        fetch-depth: 0
        persist-credentials: false
  changed-containers:
    name: changed-containers
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    needs: lint
    permissions:
      contents: read
      packages: read
    steps:
    - name: Checkout code
      uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5  # v4.3.1
      with:
        persist-credentials: false
    - name: changed-files
      id: changed-files
      uses: tj-actions/changed-files@24d32ffd492484c1d75e0c0b894501ddb9d30d62
      with:
        files: |
          containers/*/Dockerfile
        matrix: true
    outputs:
      matrix: ${{ steps.changed-files.outputs.all_changed_files }}
  build-and-push-image:
    needs: changed-containers
    if: ${{ needs.changed-containers.outputs.matrix != '[]' }}
    strategy:
      matrix:
        dockerfile: ${{ fromJSON(needs.changed-containers.outputs.matrix) }}
    permissions:
      contents: read
      packages: write
      attestations: write
      id-token: write
    uses: ./.github/workflows/publish.yaml
    with:
      dockerfile: ${{ matrix.dockerfile }}
